<div id="staticcenter">
	<div id="about">
	YumYum crawls student activity pages at RPI to find free food!
	<br>
	<br>
	<div id="acknowledgements">
		Acknowledgements
	</div>
		<br>
		Prof. Moorthy<br>Prof. Goldschmidt<br>Sean O'Sullivan
	</div>
</div>