<div class="centermap">
  <iframe src="http://docs.google.com/viewer?url=https%3A%2F%2Fwww.rpi.edu%2Ftour%2Frpi_campus_map_2010.pdf&embedded=true" width="600" height="780" style="border: none;"></iframe>
  <div id="emptyspace"></div>
</div>
