<div class="row">
  <div class="span6">
    <% if signed_in? %>
      <%= image_tag("pizza.png", :id => "pizza") %>
      <%= render 'shared/foodpost_form' %>
    <% else %>
      <%= image_tag("pizza.png", :id => "pizza-no-hover") %>
    <% end %>
    <ol class="foodposts">
      <%= render 'shared/feed' %>
    </ol>
  </div>
  <div class="span6">
    <span id="map-canvas" style="height: 400px; width: 400px;"></span>
    <span id="main-map" style="height: 1px;"></span>
  </div>
</div>
