<div class="row">
  <div class= "span6">
    <%= image_tag("pizza.png", :id => "pizza") %>
    <% if signed_in? %>
      <%= render 'shared/foodpost_form' %>
    <% end %>
    <ol class="foodposts">
      <%= render @foodposts %>
    </ol>
    <%= will_paginate %>
  </div>
  <div class="span6">
    <span id="map-canvas" style="height: 500px; width: 500px;"></span>
    <span id="main-map" style="height: 1px;"></span>
  </div>
</div>


