$navbarHeight: 60px;
$navbarBackground: #B21522;
$navbarBackgroundHighlight: #B21522;
$navbarLinkColor: #fff;
$navbarLinkColorHover: #eaeaea;
$navbarLinkColorActive: #eaeaea;
$btnPrimaryBackground: #B21522;

@import url('//fonts.googleapis.com/css?family=Oswald');
@import url("//fonts.googleapis.com/css?family=Roboto:300,400,500");
@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  /*background-image: url("background.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  /*background-position: center;*/
  padding-top: 120px;
  height: 100%;
}

.row {
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.btn-large{
margin-top:20px;
  font-size: 1.3em;
  letter-spacing: 5px;
  line-height: 15px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.hero-unit {
  background-color: white;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.push{
  height: 142px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h3 {
  font-size: 1em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */


#logo {
  float: left;
  padding:10px;
  font-size: 2em;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  &:hover {
    color: $grayLighter;
    text-decoration: none;
  }
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container{
  width: 100%;
}

.pull-right {
  font-size: 1.5em;
  font-weight: 200;
  /*letter-spacing: 5px;*/
}

.dropdown-menu {
  letter-spacing: 1px;
  background-color: #B21522;
  li{
    a{
      color: white;
      &:hover{
        text-decoration: none;
        color: $grayLighter;
      }
    }
  }
  .divider{
    border-bottom: 1px solid black;
  }
}

/* footer */

footer{
  clear: both;
  position: relative;
  z-index: 10;
  width: 940px;
  height: 3em;
  margin-top: -3em;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  display: none;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px, solid $grayLighter;
    &:first_child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: black;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float:left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list_style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Feed */

#pizza {
  border:5px solid #B21522;
  border-radius:100%;
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin-left: 40%;
  &:hover{
    transform: scale(1.3);
  }
}

#pizza-no-hover{
  height: 100px;
  width: 100px;
  margin-left: 40%;
  border:5px solid #B21522;
  border-radius:100%;
}

/* foodposts */

.foodposts {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  list-style: none;
  margin: 10px 0 0 0;
  margin-left: auto;
  margin-right: auto;

  li {
    padding: 30px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
  color: $gray;
}
.timestamp {
  color: $grayLight;
}
.date {
  color: $grayLight;
}
.time {
  color: $grayLight;
}

#new-post{
  margin-top:30px;
  display:none;
  input, select{
    width: 25%;
  }
  .datepicker{
  }
  .location{
    width: 100%;
    padding-bottom: 20px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.location {
  float: right;
  font-weight: bold;
}

/* Google Maps */
#main-map { 
  margin-top: 10px; 
  transition: all 1s;
}

#map-canvas {
  position: fixed !important;
  margin-top: 30px;
  margin-left: 60px;
  transition: all 1s;
}


.side-map {
  transition: all 1s;
  position: fixed !important;
  margin-top: 30px;
  margin-left: 60px;
  height: 400px !important;
  width: 400px;
}


header{
  background:#B21522;
  font-family:"Oswald","Roboto","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-inner{
  width:940px;
  margin:auto;
}

nav{
  margin-top:20px;
}

#formheader{
  padding:2px;
  font-size:20px;
}


.date{
  color:#B21522;
}

.time{
  color:#B21522;
}

.foodpost:hover{
  background: #f9f9f9;
}

.foodpost{
  padding:5\20px;
}

/* campus page */

#info {
  transition: all 1s;
  margin-top: 10px;
  height: 360px;
}

#rest-name {
  text-decoration: none;
  /*color: black;*/
  margin-bottom: -30px;
  font-size: 30px;
  font-weight: 600;
}

#rest-box {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px 20px 20px 20px;
  width: 85%;
  height: 100%;
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
  a{
    text-decoration: none;
  }
}

.bold {
  font-weight: bold;
}

.open {
  color: #0d0;
}

#time {
  float: right;
  font-size: 30px;
}
