<div id="spread">
	<%= link_to "Home", root_path %>
	<%= link_to "contact", contact_path %>
	<%= link_to "about", about_path %>
	<%= link_to "campus-map", campus_path %>
	<a href="http://rcos.rpi.edu/projects/yumyum1/">
		RCOS
	</a>
</div>