<footer class="footer">
  <small>
    <a href="http://rcos.rpi.edu/projects/yumyum1/">RCOS</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/tboneyang/YumYum">github</a>
    </ul>
  </nav>
</footer>
